/* Module: Post Carousel */
.widget_minimax_postcarousel {
    background: #f5f5f5;
    margin: 10px 0;
}

.widget_minimax_postcarousel .meta{
    font-size: 10px;
    color: #888888;
}
.widget_minimax_postcarousel h3{
    margin: 5px 0 !important;
    line-height: normal !important;
    font-size: 10pt !important;
    font-weight: 400;
}
.widget_minimax_postcarousel h3.section-head{
    padding: 10px 0;
    margin-bottom: 10px !important;
    border-bottom: 3px double #cccccc;
    text-transform: uppercase;
    font-weight: 700;
}

.widget_minimax_postcarousel h3.section-head .pull-right .btn-transparent{
    margin-left: 0px;
    background: rgba(0,0,0,0.6);
    border-radius: 0 !important;
    font-size: 9pt;
    padding: 5px 6px 0;
    box-shadow: none;
    border: 0 !important;
    color: #ffffff;
}
.widget_minimax_postcarousel h3.section-head .pull-right .btn-transparent:hover{
    background: #000000;
}

/*
.widget_minimax_postcarousel .pc-entry{
    position: relative;
}
.widget_minimax_postcarousel .entry-caption *:hover,
.widget_minimax_postcarousel .entry-caption *{
    color: #ffffff;
}
.widget_minimax_postcarousel .entry-caption{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: rgba(0,0,0,0.8);
}
.widget_minimax_postcarousel .entry-caption .capcon{
    padding: 10px;
}*/

.panel-group .panel-heading .fa{
    margin-top:5px !important;
    color: #3276B1;
}

.panel-heading .accordion-toggle:after {

    font-family: 'FontAwesome';
    content: "\f056";
    float: right;
    color: #3276B1;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\f055";    /* adjust as needed, taken from bootstrap.css */
}
.w3eden .btn:not(.btn-default){
    color: #ffffff !important;
}