.column{
	background:#f1f1f1;
	border:1px solid #222222;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0px 0px 1px 0px #fff inset;
	-webkit-box-shadow:0px 0px 1px 0px #fff inset;
	box-shadow:0px 0px 1px 0px #fff inset;
	position:relative;
	}
	
.margin_top{margin-top:1%;}
.margin_bottom{margin-bottom:1%;}


ul.module{
	font-size:11px;
	padding:0;
	margin-bottom:40px;
	}
ul.module > li{
	margin:5px;
	padding:5px;
	background:#dddddd;
	display:block;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	
	}
	
a.btnAddMoudule,	
a.fbtn{
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	
	-moz-box-shadow:0px 0px 1px 0px #fff inset;
	-webkit-box-shadow:0px 0px 1px 0px #fff inset;
	box-shadow:0px 0px 1px 0px #fff inset;
	
	height:24px;
	line-height:24px;
	font-weight:normal;
	font-size:12px;
	text-decoration:none;
	color:#333;
	text-align:center;
	/*display:block; */
	position:absolute;  
    
	bottom:0px;
	width:100%; 
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
	}
	
	
    
a.btnAddMoudule:hover,
a.fbtn:hover{
	background:#f9f9f9;
	}

    
a.insert-layout img{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;   
}    

#module-settings-form .button-secondary,
#module-settings-form .button-primary{
 -moz-border-radius:4px !important;
    -webkit-border-radius:4px !important;
    border-radius:4px !important;
    font-weight: normal !important;
   
}


.gridt{
    -webkit-transition: all 500px ease-in-out;
  -moz-transition: all 500px ease-in-out;
  -o-transition: all 500px ease-in-out;
  transition: all 500px ease-in-out;
}